.extrato-container {
  padding: 20px;
  background-color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.extrato-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.extrato-header .voltar {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  left: 0;
  
}

.extrato-header h2 {
  margin: 0;
  font-weight: bold;
}

.painel-filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
}

.linha-filtro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.linha-filtro > div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.linha-filtro label {
  font-weight: bold;
  margin-bottom: 4px;
}

.linha-vertical {
  width: 2px;
  height: 40px;
  background-color: #ccc;
  margin: 0 8px;
  align-self: center;
}

input.periodo {
  width: 120px;
  padding: 4px 6px;
  font-size: 14px;
  box-sizing: border-box;
  margin-right: 10px;
}

select {
  width: 200px;
  height: 40px;
}

.acoes-filtro {
  display: flex;
  gap: 10px;
  align-items: center;
}

.acoes-filtro button {
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.acoes-filtro .limpar {
  background-color: #ccc;
}

.acoes-filtro .aplicar {
  background-color: #0d2b45;
  color: white;
}


.tabela-wrapper {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.tabela-extrato {
  width: 100%;
  border-collapse: collapse;
}

.tabela-extrato thead {
  background-color: #0d2b45;
  color: white;
}

.tabela-extrato th,
.tabela-extrato td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}


.acoes {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icone {
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s;
}

.icone.editar:hover {
  color: #007bff;
}

.icone.excluir:hover {
  color: #dc3545;
}

/* Inputs dentro da tabela */
.tabela-extrato input[type="text"],
.tabela-extrato input[type="number"],
.tabela-extrato input[type="date"],
.tabela-extrato select {
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tabela-extrato input:focus,
.tabela-extrato select:focus {
  border-color: #0077cc;
  outline: none;
}

.tabela-extrato td {
  vertical-align: middle;
}

/* Ícones de ação */
.acoes .icone {
  font-size: 16px;
  cursor: pointer;
}

.acoes .icone.salvar {
  color: #28a745;
}

.acoes .icone.cancelar {
  color: #dc3545;
}

/* Estilizando a linha ativa em edição */
.tabela-extrato tr td {
  transition: background-color 0.3s ease;
}

.tabela-extrato tr.editando td {
  background-color: #f0f8ff;
}
